.navbar {
    height: 50px;
    padding: 0 24px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    background: #fff;
    border-bottom: 1px solid #e5e7eb;
}

.navbar-left a {
    color: #111;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.navbar-center {
    display: flex;
    height: 100%;
}

.navbar-center a {
    position: relative;

    display: flex;
    align-items: center;
    padding: 0 22px;

    color: #555;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.navbar-center a:hover {
    color: #111;
    background: #f5f5f5;
}

.navbar-center a.active {
    color: #111;
}

.navbar-center a.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    height: 2px;
    background: #111;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.navbar-right button {
    padding: 5px 8px;

    border: 0px;

    border-radius: 6px;
    background: transparent;

    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.navbar-right button:hover {
    background: #f0f0f0;
}

.navbar-right a {
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 6px;
}

.navbar-right a:hover {
    background: #f3f3f3;
}

.navbar-right img {
    width: 17px;
    height: 17px;
}